/* css.css */
/* Créer par Tarek Bellali */
/* le 2020-04-22 */

body
{
    background: url("../media/bobo.jpg") no-repeat center;
    width: 100%; /* On pourrait aussi prendre 100% de la largeur */
    margin: auto; /* pour centrer le site en largeur */
}
h1, h2{color:red}

h1
{
    font-size: 60rem;
}

h2
{
    font-size: 40rem;
}

img
{
    height: 50rem;
    widht: 30rem;
}

a: visited
{
    color: #4f4180;
}

#titrebonjour {
    color: mediumvioletred;
}

#titrebonjour1 {
    color: orangered;
}

#titrebonjour2 {
    color: green;
}