header {
position: relative;
    background-color : black;
    height: 100%;
    min-height : 25rem;
    width: 100%;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height : 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform : translateX(-50%) translateY(-50%);
    -moz-transform : translateX(-50%) translateY(-50%);
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color : black;
    opacity: 0.5;
    z-index: 1;
}



.navbar {
    background-color: #efebf1;
}
.navbar .navbar-brand {
    color: #89d971;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecdbff;
}
.navbar .navbar-text {
    color: #89d971;
}
.navbar .navbar-text a {
    color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
    color: #89d971;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #efebf1;
    border-color: #44ad9c;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #89d971;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #44ad9c;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #44ad9c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #44ad9c;
}
.navbar .navbar-toggle {
    border-color: #44ad9c;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #44ad9c;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #89d971;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #89d971;
}
.navbar .navbar-link {
    color: #89d971;
}
.navbar .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #89d971;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #44ad9c;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #89d971;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #44ad9c;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #89d971;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #44ad9c;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #89d971;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #44ad9c;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #89d971;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #44ad9c;
}

